In [1]:
import pandas as pd
id_SubFed = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
ulsk = [
    'Ульяновская область'
]

In [2]:
id_SubFed = ['Республика Башкортостан',
             'Республика Марий Эл',
             'Республика Мордовия',
             'Республика Татарстан',
             'Удмуртская Республика',
             'Чувашская Республика',
             'Пермский край',
             'Кировская область',
             'Нижегородская область',
             'Оренбургская область',
             'Пензенская область',
             'Самарская область',
             'Саратовская область',
             'Ульяновская область']
df = pd.DataFrame(id_SubFed, columns=['name'])
df

                       name
0   Республика Башкортостан
1       Республика Марий Эл
2       Республика Мордовия
3      Республика Татарстан
4     Удмуртская Республика
5      Чувашская Республика
6             Пермский край
7         Кировская область
8     Нижегородская область
9      Оренбургская область
10       Пензенская область
11        Самарская область
12      Саратовская область
13      Ульяновская область

In [3]:
#Amaount_GS
settings = {
    'sheet' : '1.1. Кол-во ГС',
    'iloc_rows' : [6,20],
    'iloc_columns' : [6, 18],
    'drop_column' : [9, 13, 14],
    'm_id_lists' : [
        [
        'Численность государственных должностей субъекта Российской Федерации',
        'Численность должностей государственной гражданской службы',
        'Численность должностей, не отнесенных к должностям государственной гражданской службы'
        ],
        [
        'Всего',
        'замещено',
        'количество лиц, находящихся в отпуске по уходу за ребенком'
        ]
        ],
    'm_id_names' : ['id_SubFed', 'group', 'status'],
    'csv_path' : 'Amount_GS.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                                                                                           year  \
id_SubFed           group                                              status
Ульяновская область Численность государственных должностей субъекта... Всего                                               2024
                                                                       замещено                                            2024
                                                                       количество лиц, находящихся в отпуске по уходу ...  2024
                    Численность должностей государственной гражданс... Всего                                               2024
                                                                       замещено                                            2024
                                                                       количество лиц, находящихся в отпуске по уходу ...  2024
                    Численность должностей, не отнесенных к должнос... Всего                                               2024
                                                                       замещено                                            2024
                                                                       количество лиц, находящихся в отпуске по уходу ...  2024

                                                                                                                          amount
id_SubFed           group                                              status
Ульяновская область Численность государственных должностей субъекта... Всего                                                  89
                                                                       замещено                                               86
                                                                       количество лиц, находящихся в отпуске по уходу ...      0
                    Численность должностей государственной гражданс... Всего                                                1498
                                                                       замещено                                             1347
                                                                       количество лиц, находящихся в отпуске по уходу ...     83
                    Численность должностей, не отнесенных к должнос... Всего                                                 431
                                                                       замещено                                              273
                                                                       количество лиц, находящихся в отпуске по уходу ...     17

In [4]:
#Amaount_MS
settings = {
    'sheet' : '1.2. Кол-во МС',
    'iloc_rows' : [6,20],
    'iloc_columns' : [6, 14],
    'drop_column' : [9, 13],
    'm_id_lists' : [
        [
            'Численность должностей муниципальной службы',
            'Численность должностей, не отнесенных к должностям муниципальной службы'
        ],
        [
        'Всего',
        'замещено',
        'количество лиц, находящихся в отпуске по уходу за ребенком'
        ]
        ],
    'm_id_names' : ['id_SubFed', 'group', 'status'],
    'csv_path' : 'Amount_MS.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                                                                                           year  \
id_SubFed           group                                              status
Ульяновская область Численность должностей муниципальной службы        Всего                                               2024
                                                                       замещено                                            2024
                                                                       количество лиц, находящихся в отпуске по уходу ...  2024
                    Численность должностей, не отнесенных к должнос... Всего                                               2024
                                                                       замещено                                            2024
                                                                       количество лиц, находящихся в отпуске по уходу ...  2024

                                                                                                                          amount
id_SubFed           group                                              status
Ульяновская область Численность должностей муниципальной службы        Всего                                                2045
                                                                       замещено                                             1805
                                                                       количество лиц, находящихся в отпуске по уходу ...     75
                    Численность должностей, не отнесенных к должнос... Всего                                                1514
                                                                       замещено                                             1402
                                                                       количество лиц, находящихся в отпуске по уходу ...     54

In [5]:
#Gender_GS
settings = {
    'sheet' : '2.1. Гендерный ГС',
    'iloc_rows' : [4,18],
    'iloc_columns' : [2, 6],
    'drop_column' : [3, 5],
    'm_id_lists' : [
        [
            'мужчины',
            'женщины'
        ]
        ],
    'm_id_names' : ['id_SubFed', 'gender'],
    'csv_path' : 'Gender_GS.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                             year amount
id_SubFed           gender
Ульяновская область мужчины  2024    289
                    женщины  2024   1058

In [6]:
#Gender_MS
settings = {
    'sheet' : '2.2. Гендерный МС',
    'iloc_rows' : [4,18],
    'iloc_columns' : [2, 6],
    'drop_column' : [3, 5],
    'm_id_lists' : [
        [
            'мужчины',
            'женщины'
        ]
        ],
    'm_id_names' : ['id_SubFed', 'gender'],
    'csv_path' : 'Gender_MS.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                             year amount
id_SubFed           gender
Ульяновская область мужчины  2024    377
                    женщины  2024   1428

In [7]:
#Age_GS
settings = {
    'sheet' : '3.1. Возраст ГС',
    'iloc_rows' : [4,18],
    'iloc_columns' : [2, 17],
    'drop_column' : [3, 5, 7, 9, 11, 13, 15],
    'm_id_lists' : [
        [
            'до 29 лет',
            'от 30 до 35 лет',
            'от 36 до 40 лет',
            'от 41 до 50 лет',
            'от 51 до 60 лет',
            'от 61 до 64 лет',
            'старше 65 года',
            'средний возраст служащих'
        ]
        ],
    'm_id_names' : ['id_SubFed', 'category'],
    'csv_path' : 'Age_GS.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                              year amount
id_SubFed           category
Ульяновская область до 29 лет                 2024     97
                    от 30 до 35 лет           2024    136
                    от 36 до 40 лет           2024    263
                    от 41 до 50 лет           2024    541
                    от 51 до 60 лет           2024    266
                    от 61 до 64 лет           2024     42
                    старше 65 года            2024      2
                    средний возраст служащих  2024     44

In [8]:
#Age_MS
settings = {
    'sheet' : '3.2. Возраст МС',
    'iloc_rows' : [4,18],
    'iloc_columns' : [2, 17],
    'drop_column' : [3, 5, 7, 9, 11, 13, 15],
    'm_id_lists' : [
        [
            'до 29 лет',
            'от 30 до 35 лет',
            'от 36 до 40 лет',
            'от 41 до 50 лет',
            'от 51 до 60 лет',
            'от 61 до 64 лет',
            'старше 65 года',
            'средний возраст служащих'
        ]
        ],
    'm_id_names' : ['id_SubFed', 'category'],
    'csv_path' : 'Age_MS.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                              year amount
id_SubFed           category
Ульяновская область до 29 лет                 2024    125
                    от 30 до 35 лет           2024    197
                    от 36 до 40 лет           2024    361
                    от 41 до 50 лет           2024    609
                    от 51 до 60 лет           2024    426
                    от 61 до 64 лет           2024     67
                    старше 65 года            2024     20
                    средний возраст служащих  2024     44

In [9]:
#EducationLevel_GS
settings = {
    'sheet' : '4.1. Образовательный уровень ГС',
    'iloc_rows' : [6,20],
    'iloc_columns' : [3, 20],
    'drop_column' : [4,6,8,9,10,11,12,13,14,15,16,17,18],
    'm_id_lists' : [
        [
            'бакалавриат',
            'специалитет',
            'магистратура',
            'среднее профессиональное'
        ]
        ],
    'm_id_names' : ['id_SubFed', 'educ_lvl'],
    'csv_path' : 'EducationLevel_GS.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                              year amount
id_SubFed           educ_lvl
Ульяновская область бакалавриат               2024    126
                    специалитет               2024   1125
                    магистратура              2024     85
                    среднее профессиональное  2024     11

In [10]:
#EducationLevel_MS
settings = {
    'sheet' : '4.2. Образовательный уровень МС',
    'iloc_rows' : [6,20],
    'iloc_columns' : [3, 20],
    'drop_column' : [4,6,8,9,10,11,12,13,14,15,16,17,18],
    'm_id_lists' : [
        [
            'бакалавриат',
            'специалитет',
            'магистратура',
            'среднее профессиональное'
        ]
        ],
    'm_id_names' : ['id_SubFed', 'educ_lvl'],
    'csv_path' : 'EducationLevel_MS.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                              year amount
id_SubFed           educ_lvl
Ульяновская область бакалавриат               2024    272
                    специалитет               2024   1340
                    магистратура              2024     84
                    среднее профессиональное  2024    109

In [11]:
#Educ_spec_GS
settings = {
    'sheet' : '4.1. Образовательный уровень ГС',
    'iloc_rows' : [6,20],
    'iloc_columns' : [9, 19],
    'drop_column' : [10,12,14,16,18],
    'm_id_lists' : [
        [
            'менеджер ГМУ',
            'экономист, финансист',
            'юрист',
            'инженер',
            'иная специальность'
        ]
        ],
    'm_id_names' : ['id_SubFed', 'speciality'],
    'csv_path' : 'Educ_spec_GS.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                          year amount
id_SubFed           speciality
Ульяновская область менеджер ГМУ          2024     88
                    экономист, финансист  2024    399
                    юрист                 2024    402
                    инженер               2024    141
                    иная специальность    2024    407

In [12]:
#Educ_spec_MS
settings = {
    'sheet' : '4.2. Образовательный уровень МС',
    'iloc_rows' : [6,20],
    'iloc_columns' : [9, 19],
    'drop_column' : [10,12,14,16,18],
    'm_id_lists' : [
        [
            'менеджер ГМУ',
            'экономист, финансист',
            'юрист',
            'инженер',
            'иная специальность'
        ]
        ],
    'm_id_names' : ['id_SubFed', 'speciality'],
    'csv_path' : 'Educ_spec_MS.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                          year amount
id_SubFed           speciality
Ульяновская область менеджер ГМУ          2024     95
                    экономист, финансист  2024    517
                    юрист                 2024    440
                    инженер               2024    141
                    иная специальность    2024    575

In [13]:
#AcademicDegree_GS
settings = {
    'sheet' : '5.1. Ученая степень ГС',
    'iloc_rows' : [4,18],
    'iloc_columns' : [2, 7],
    'drop_column' : [3, 5],
    'm_id_lists' : [
        [
            'Два и более высших образования',
            'Кандидаты наук',
            'Доктора наук'
        ]
        ],
    'm_id_names' : ['id_SubFed', 'degree'],
    'csv_path' : 'AcademicDegree_GS.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                    year amount
id_SubFed           degree
Ульяновская область Два и более высших образования  2024    267
                    Кандидаты наук                  2024     20
                    Доктора наук                    2024      0

In [14]:
#AcademicDegree_MS
settings = {
    'sheet' : '5.2. Ученая степень МС',
    'iloc_rows' : [4,18],
    'iloc_columns' : [2, 7],
    'drop_column' : [3, 5],
    'm_id_lists' : [
        [
            'Два и более высших образования',
            'Кандидаты наук',
            'Доктора наук'
        ]
        ],
    'm_id_names' : ['id_SubFed', 'degree'],
    'csv_path' : 'AcademicDegree_MS.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                    year amount
id_SubFed           degree
Ульяновская область Два и более высших образования  2024    150
                    Кандидаты наук                  2024      5
                    Доктора наук                    2024      0

In [15]:
#Exp_GS
settings = {
    'sheet' : '6.1. Стаж ГС',
    'iloc_rows' : [4, 18],
    'iloc_columns' : [2, 13],
    'drop_column' : [3,5,7,9,11],
    'm_id_lists' : [
        [
            'до 1 года',
            'от 1 года до 5 лет',
            'от 5 до 10 лет',
            'от 10 до 15 лет',
            'от 15 до 25 лет',
            '25 лет и выше'
        ]
        ],
    'm_id_names' : ['id_SubFed', 'category'],
    'csv_path' : 'Exp_GS.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                        year amount
id_SubFed           category
Ульяновская область до 1 года           2024     78
                    от 1 года до 5 лет  2024    184
                    от 5 до 10 лет      2024    195
                    от 10 до 15 лет     2024    230
                    от 15 до 25 лет     2024    513
                    25 лет и выше       2024    147

In [16]:
#Exp_MS
settings = {
    'sheet' : '6.2. Стаж МС',
    'iloc_rows' : [4, 18],
    'iloc_columns' : [2, 13],
    'drop_column' : [3,5,7,9,11],
    'm_id_lists' : [
        [
            'до 1 года',
            'от 1 года до 5 лет',
            'от 5 до 10 лет',
            'от 10 до 15 лет',
            'от 15 до 25 лет',
            '25 лет и выше'
        ]
        ],
    'm_id_names' : ['id_SubFed', 'category'],
    'csv_path' : 'Exp_MS.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                        year amount
id_SubFed           category
Ульяновская область до 1 года           2024    115
                    от 1 года до 5 лет  2024    322
                    от 5 до 10 лет      2024    353
                    от 10 до 15 лет     2024    358
                    от 15 до 25 лет     2024    511
                    25 лет и выше       2024    146

In [17]:
#Changeability_GS
settings = {
    'sheet': '7. Сменяемость ГС',
    'iloc_rows': [4, 18],
    'iloc_columns': [4, 20],
    'drop_column': [5,7,9,11,13,16],
    'm_id_lists': [
        [
            'Уволены на отчетную дату по инициативе служащего',
            'Уволены на отчетную дату по соглашению сторон',
            'Уволены на отчетную дату по инициативе представителя нанимателя ',
            'Уволены на отчетную дату по истечению срока срочного служебного контракта',
            'Уволены на отчетную дату по иным основаниям ',
            'Количество служащих уволенных по достижению предельного возраста пребывания на службе',
            'Количество уволенных служащих пребывавших в должности менее 1 года',
            'Количество служащих уволенных в связи с сокращением штатной численности, преобразованием государственных органов',
            'Количество служащих предупрежденных о предстоящем возможном увольнении',
            'Коэффициент текучести кадров'
        ]
    ],
    'm_id_names': ['id_SubFed', 'category'],
    'csv_path': 'Changeability_GS.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                                        year  \
id_SubFed           category
Ульяновская область Уволены на отчетную дату по инициативе служащего    2024
                    Уволены на отчетную дату по соглашению сторон       2024
                    Уволены на отчетную дату по инициативе представ...  2024
                    Уволены на отчетную дату по истечению срока сро...  2024
                    Уволены на отчетную дату по иным основаниям         2024
                    Количество служащих уволенных по достижению пре...  2024
                    Количество уволенных служащих пребывавших в дол...  2024
                    Количество служащих уволенных в связи с сокраще...  2024
                    Количество служащих предупрежденных о предстоящ...  2024
                    Коэффициент текучести кадров                        2024

                                                                          amount
id_SubFed           category
Ульяновская область Уволены на отчетную дату по инициативе служащего         304
                    Уволены на отчетную дату по соглашению сторон              0
                    Уволены на отчетную дату по инициативе представ...         3
                    Уволены на отчетную дату по истечению срока сро...        37
                    Уволены на отчетную дату по иным основаниям               30
                    Количество служащих уволенных по достижению пре...         3
                    Количество уволенных служащих пребывавших в дол...        90
                    Количество служащих уволенных в связи с сокраще...        13
                    Количество служащих предупрежденных о предстоящ...        34
                    Коэффициент текучести кадров                        0.225687

In [18]:
#GosOrgAmount
settings = {
    'sheet': '8. Кол-во гос.органов',
    'iloc_rows': [5, 19],
    'iloc_columns': [2, 4],
    'drop_column': [],
    'm_id_lists': [
        [
            'Количество государственных органов на отчетную дату',
            'Количество государственных органов на последнюю дату отчета предыдущего года'
        ]
    ],
    'm_id_names': ['id_SubFed', 'category'],
    'csv_path': 'GosOrgAmount.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                                        year  \
id_SubFed           category
Ульяновская область Количество государственных органов на отчетную ...  2024
                    Количество государственных органов на последнюю...  2024

                                                                       amount
id_SubFed           category
Ульяновская область Количество государственных органов на отчетную ...     25
                    Количество государственных органов на последнюю...     24

In [19]:
#Competition
settings = {
    'sheet': '9. Конкурсы',
    'iloc_rows': [5, 19],
    'iloc_columns': [2, 12],
    'drop_column': [3, 4, 6, 8, 10],
    'm_id_lists': [
        [
            'Общее количество конкурсов',
            'Конкурсы, проводимые повторно',
            'Несостоявшиеся конкурсы',
            'Конкурсы, результаты которых были обжалованы',
            'Общее количество конкурсов на включение в кадровый резерв'
        ]
    ],
    'm_id_names': ['id_SubFed', 'category'],
    'csv_path': 'Competition.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                                        year  \
id_SubFed           category
Ульяновская область Общее количество конкурсов                          2024
                    Конкурсы, проводимые повторно                       2024
                    Несостоявшиеся конкурсы                             2024
                    Конкурсы, результаты которых были обжалованы        2024
                    Общее количество конкурсов на включение в кадро...  2024

                                                                       amount
id_SubFed           category
Ульяновская область Общее количество конкурсов                            165
                    Конкурсы, проводимые повторно                          10
                    Несостоявшиеся конкурсы                                34
                    Конкурсы, результаты которых были обжалованы            0
                    Общее количество конкурсов на включение в кадро...     74

In [20]:
#CitizenParticipation
settings = {
    'sheet': '10. Участие граждан',
    'iloc_rows': [6, 20],
    'iloc_columns': [2, 17],
    'drop_column': [7, 9, 11, 13, 15],
    'm_id_lists': [
        [
            'подали документы на замещение вакантных должностей государственной службы',
            'в эл. виде подали документы на замещение вакантных должностей государственной службы',
            'подали документы на включение в кадровый резерв',
            'в эл. виде подали документы на включение в кадровый резерв',
            'количество лиц, не допущенных для участия в конкурсе',
            'количество лиц, не прошедших конкурсный отбор',
            'количество лиц, назначенных на вакантную должность по результатам конкурса',
            'количество лиц, включенных в кадровый резерв, по результатам конкурса на замещение',
            'количество лиц, включенных в кадровый резерв, по результатам конкурса на включение в кадровый резерв',
            'количество лиц, не участвовавших в конкурсе по причине признания конкурса несостоявшимся'
        ]
    ],
    'm_id_names': ['id_SubFed', 'category'],
    'csv_path': 'CitizenParticipation.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                                        year  \
id_SubFed           category
Ульяновская область подали документы на замещение вакантных должнос...  2024
                    в эл. виде подали документы на замещение вакант...  2024
                    подали документы на включение в кадровый резерв     2024
                    в эл. виде подали документы на включение в кадр...  2024
                    количество лиц, не допущенных для участия в кон...  2024
                    количество лиц, не прошедших конкурсный отбор       2024
                    количество лиц, назначенных на вакантную должно...  2024
                    количество лиц, включенных в кадровый резерв, п...  2024
                    количество лиц, включенных в кадровый резерв, п...  2024
                    количество лиц, не участвовавших в конкурсе по ...  2024

                                                                       amount
id_SubFed           category
Ульяновская область подали документы на замещение вакантных должнос...    193
                    в эл. виде подали документы на замещение вакант...     18
                    подали документы на включение в кадровый резерв       270
                    в эл. виде подали документы на включение в кадр...      6
                    количество лиц, не допущенных для участия в кон...      1
                    количество лиц, не прошедших конкурсный отбор         187
                    количество лиц, назначенных на вакантную должно...     60
                    количество лиц, включенных в кадровый резерв, п...     62
                    количество лиц, включенных в кадровый резерв, п...    143
                    количество лиц, не участвовавших в конкурсе по ...     10

In [21]:
#Substitution
settings = {
    'sheet': '11. Замещение',
    'iloc_rows': [7, 21],
    'iloc_columns': [3, 17],
    'drop_column': [5,7,9,11,13,15],
    'm_id_lists': [
        [
            'В возрасте до 30 лет',
            'С установлением испытательного срока',
            'Количество лиц, назначенных на должности по результатам конкурса',
            'Количество лиц, назначенных на должности в порядке должностного роста',
            'Без конкурса, по срочному служебному контракту',
            'Без конкурса, исполнение обязанностей по которым связано с государственной тайной',
            'Без конкурса, из кадрового резерва',
            'Без конкурса, по иным основаниям'
        ]
    ],
    'm_id_names': ['id_SubFed', 'category'],
    'csv_path': 'Substitution.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                                        year  \
id_SubFed           category
Ульяновская область В возрасте до 30 лет                                2024
                    С установлением испытательного срока                2024
                    Количество лиц, назначенных на должности по рез...  2024
                    Количество лиц, назначенных на должности в поря...  2024
                    Без конкурса, по срочному служебному контракту      2024
                    Без конкурса, исполнение обязанностей по которы...  2024
                    Без конкурса, из кадрового резерва                  2024
                    Без конкурса, по иным основаниям                    2024

                                                                       amount
id_SubFed           category
Ульяновская область В возрасте до 30 лет                                  109
                    С установлением испытательного срока                  406
                    Количество лиц, назначенных на должности по рез...     60
                    Количество лиц, назначенных на должности в поря...    107
                    Без конкурса, по срочному служебному контракту        183
                    Без конкурса, исполнение обязанностей по которы...      8
                    Без конкурса, из кадрового резерва                    165
                    Без конкурса, по иным основаниям                       98

In [22]:
#Mentoring
settings = {
    'sheet': '12. Наставничество',
    'iloc_rows': [7, 21],
    'iloc_columns': [3, 13],
    'drop_column': [5,8,10],
    'm_id_lists': [
        [
            'впервые поступившие на гос. службу',
            'впервые поступившие на гос. службу, которым назначены наставники',
            'впервые назначенных на высшие и главные должности гос. службы',
            'впервые назначенных на высшие и главные должности гос. службы, которым назначены наставники',
            'иные случаи установления наставничества',
            'Количество наставников, назначенных распорядительным актом органа',
            'Количество наставников, назначенных распорядительным актом органа, которым произведена доплата'
        ]
    ],
    'm_id_names': ['id_SubFed', 'category'],
    'csv_path': 'Mentoring.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                                        year  \
id_SubFed           category
Ульяновская область впервые поступившие на гос. службу                  2024
                    впервые поступившие на гос. службу, которым наз...  2024
                    впервые назначенных на высшие и главные должнос...  2024
                    впервые назначенных на высшие и главные должнос...  2024
                    иные случаи установления наставничества             2024
                    Количество наставников, назначенных распорядите...  2024
                    Количество наставников, назначенных распорядите...  2024

                                                                       amount
id_SubFed           category
Ульяновская область впервые поступившие на гос. службу                     88
                    впервые поступившие на гос. службу, которым наз...     87
                    впервые назначенных на высшие и главные должнос...     57
                    впервые назначенных на высшие и главные должнос...     44
                    иные случаи установления наставничества               127
                    Количество наставников, назначенных распорядите...    258
                    Количество наставников, назначенных распорядите...     98

In [23]:
#ReserveComposition
settings = {
    'sheet': '13. Резерв',
    'iloc_rows': [7, 21],
    'iloc_columns': [1, 16],
    'drop_column': [2,3,4,5,6,7,8,9,10,11,12,14],
    'm_id_lists': [
        [
            'Количество государственных органов, сформировавших резерв',
            'граждан',
            'государственных служащих'
        ]
    ],
    'm_id_names': ['id_SubFed', 'category'],
    'csv_path': 'ReserveComposition.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                                        year  \
id_SubFed           category
Ульяновская область Количество государственных органов, сформировав...  2024
                    граждан                                             2024
                    государственных служащих                            2024

                                                                       amount
id_SubFed           category
Ульяновская область Количество государственных органов, сформировав...     24
                    граждан                                               158
                    государственных служащих                              507

In [24]:
#ReserveCause
settings = {
    'sheet': '13. Резерв',
    'iloc_rows': [7, 21],
    'iloc_columns': [17, 26],
    'drop_column': [18,20,22,24],
    'm_id_lists': [
        [
            'по результатам конкурса на включение в кадровый резерв',
            'по результатам конкурса на замещение вакантной должности',
            'по результатам аттестации',
            'в связи с сокращением должностей',
            'по основаниям, предусмотренным ч.1 ст. 39 Федерального закона 79-ФЗ'
        ]
    ],
    'm_id_names': ['id_SubFed', 'cause'],
    'csv_path': 'ReserveCause.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                                        year  \
id_SubFed           cause
Ульяновская область по результатам конкурса на включение в кадровый...  2024
                    по результатам конкурса на замещение вакантной ...  2024
                    по результатам аттестации                           2024
                    в связи с сокращением должностей                    2024
                    по основаниям, предусмотренным ч.1 ст. 39 Федер...  2024

                                                                       amount
id_SubFed           cause
Ульяновская область по результатам конкурса на включение в кадровый...    235
                    по результатам конкурса на замещение вакантной ...     87
                    по результатам аттестации                             343
                    в связи с сокращением должностей                        0
                    по основаниям, предусмотренным ч.1 ст. 39 Федер...      0

In [25]:
#Attestation
settings = {
    'sheet': '14. Аттестация',
    'iloc_rows': [6, 20],
    'iloc_columns': [3, 11],
    'drop_column': [],
    'm_id_lists': [
        [
            'соответствуют замещаемой должности',
            'соответствуют замещаемой должности и рекомендованы к включению в кадровый резерв',
            'соответствуют замещаемой должности при условии успешного получения дополнительного профессионального образования',
            'не соответствуют замещаемой должности'
        ],
        [
            'АППГ',
            'с начала отчетного года'
        ]
    ],
    'm_id_names': ['id_SubFed', 'result', 'period'],
    'csv_path': 'Attestation.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                                                                year  \
id_SubFed           result                                             period
Ульяновская область соответствуют замещаемой должности                 АППГ                     2024
                                                                       с начала отчетного года  2024
                    соответствуют замещаемой должности и рекомендов... АППГ                     2024
                                                                       с начала отчетного года  2024
                    соответствуют замещаемой должности при условии ... АППГ                     2024
                                                                       с начала отчетного года  2024
                    не соответствуют замещаемой должности              АППГ                     2024
                                                                       с начала отчетного года  2024

                                                                                               amount
id_SubFed           result                                             period
Ульяновская область соответствуют замещаемой должности                 АППГ                       152
                                                                       с начала отчетного года    127
                    соответствуют замещаемой должности и рекомендов... АППГ                       141
                                                                       с начала отчетного года    141
                    соответствуют замещаемой должности при условии ... АППГ                         0
                                                                       с начала отчетного года      0
                    не соответствуют замещаемой должности              АППГ                         0
                                                                       с начала отчетного года      0

In [26]:
#Ranks
settings = {
    'sheet': '15. Чины',
    'iloc_rows': [6, 20],
    'iloc_columns': [2, 5],
    'drop_column': [3],
    'm_id_lists': [
        [
            'Количество служащих, которым присвоен классный чин',
        ],
        [
            'АППГ',
            'с начала отчетного года'
        ]
    ],
    'm_id_names': ['id_SubFed', 'appointmentReason', 'period'],
    'csv_path': 'Ranks.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                                                                year  \
id_SubFed           appointmentReason                                  period
Ульяновская область Количество служащих, которым присвоен классный чин АППГ                     2024
                                                                       с начала отчетного года  2024

                                                                                               amount
id_SubFed           appointmentReason                                  period
Ульяновская область Количество служащих, которым присвоен классный чин АППГ                       391
                                                                       с начала отчетного года    423

In [27]:
#ProfDev_amount
settings = {
    'sheet': '17.1. Профразвитие',
    'iloc_rows': [6, 20],
    'iloc_columns': [4, 10],
    'drop_column':[],
    'm_id_lists': [
        [
            'решения представителя нанимателя',
            'по результатам аттестации',
            'назначения на иную должность при сокращении должностей или упразднения государственного органа',
            'назначения в порядке должностного роста впервые на должность категории "руководители" или "специалисты"',
            'поступления гражданина на службу впервые',
            'по инициативе служащего'
        ]
    ],
    'm_id_names': ['id_SubFed', 'category'],
    'csv_path': 'ProfDev_amount.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                                        year  \
id_SubFed           category
Ульяновская область решения представителя нанимателя                    2024
                    по результатам аттестации                           2024
                    назначения на иную должность при сокращении дол...  2024
                    назначения в порядке должностного роста впервые...  2024
                    поступления гражданина на службу впервые            2024
                    по инициативе служащего                             2024

                                                                       amount
id_SubFed           category
Ульяновская область решения представителя нанимателя                     1976
                    по результатам аттестации                               0
                    назначения на иную должность при сокращении дол...      0
                    назначения в порядке должностного роста впервые...      0
                    поступления гражданина на службу впервые              140
                    по инициативе служащего                                 0

In [28]:
#ProfDev_resources
settings = {
    'sheet': '17.2. Профразвитие',
    'iloc_rows': [7, 21],
    'iloc_columns': [2, 18],
    'drop_column': [],
    'm_id_lists': [
        [
            'Государственного заказа',
            'Государственного задания',
            'Средств государственного органа',
            'Государственных образовательных сертификатов'
        ],
        [
            'Объём финансирования (тыс. руб.)',
            'Количество служащих'
        ],
        [
            'план',
            'факт'
        ]
    ],
    'm_id_names': ['id_SubFed', 'resources', 'res_type', 'value_type'],
    'csv_path': 'ProfDev_resources.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                                                                              year  \
id_SubFed           resources                                    res_type                         value_type
Ульяновская область Государственного заказа                      Объём финансирования (тыс. руб.) план        2024
                                                                                                  факт        2024
                                                                 Количество служащих              план        2024
                                                                                                  факт        2024
                    Государственного задания                     Объём финансирования (тыс. руб.) план        2024
                                                                                                  факт        2024
                                                                 Количество служащих              план        2024
                                                                                                  факт        2024
                    Средств государственного органа              Объём финансирования (тыс. руб.) план        2024
                                                                                                  факт        2024
                                                                 Количество служащих              план        2024
                                                                                                  факт        2024
                    Государственных образовательных сертификатов Объём финансирования (тыс. руб.) план        2024
                                                                                                  факт        2024
                                                                 Количество служащих              план        2024
                                                                                                  факт        2024

                                                                                                               amount
id_SubFed           resources                                    res_type                         value_type
Ульяновская область Государственного заказа                      Объём финансирования (тыс. руб.) план        704.101
                                                                                                  факт        628.842
                                                                 Количество служащих              план            274
                                                                                                  факт            332
                    Государственного задания                     Объём финансирования (тыс. руб.) план              0
                                                                                                  факт              0
                                                                 Количество служащих              план              0
                                                                                                  факт              0
                    Средств государственного органа              Объём финансирования (тыс. руб.) план        996.907
                                                                                                  факт        996.415
                                                                 Количество служащих              план             90
                                                                                                  факт             90
                    Государственных образовательных сертификатов Объём финансирования (тыс. руб.) план            150
                                                                                                  факт            150
                                                                 Количество служащих              план             15
                                                                                                  факт             15

In [29]:
#DPO_GS_1
settings = {
    'sheet': '17.3. ДПО ГС',
    'iloc_rows': [6, 20],
    'iloc_columns': [4, 22],
    'drop_column': [6, 7, 8, 9, 10, 15, 16, 17,18,19],
    'm_id_lists': [
        [
            'Профессиональная переподготовка',
            'Повышение квалификации'
        ],
        [
            'Количество служащих',
            'Объём финансирования (тыс. руб.)'
        ],
        [
            'план',
            'факт'
        ]
    ],
    'm_id_names': ['id_SubFed', 'DPO', 'value_type', 'value_name'],
    'csv_path': 'DPO_GS.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                                                                 year  \
id_SubFed           DPO                             value_type                       value_name
Ульяновская область Профессиональная переподготовка Количество служащих              план        2024
                                                                                     факт        2024
                                                    Объём финансирования (тыс. руб.) план        2024
                                                                                     факт        2024
                    Повышение квалификации          Количество служащих              план        2024
                                                                                     факт        2024
                                                    Объём финансирования (тыс. руб.) план        2024
                                                                                     факт        2024

                                                                                                   amount
id_SubFed           DPO                             value_type                       value_name
Ульяновская область Профессиональная переподготовка Количество служащих              план               4
                                                                                     факт               8
                                                    Объём финансирования (тыс. руб.) план           229.3
                                                                                     факт           229.3
                    Повышение квалификации          Количество служащих              план             320
                                                                                     факт             402
                                                    Объём финансирования (тыс. руб.) план        1359.714
                                                                                     факт        1359.714

In [30]:
#DPO_GS_2
settings = {
    'sheet': '17.3. ДПО ГС',
    'iloc_rows': [6, 20],
    'iloc_columns': [4, 20],
    'drop_column': [4,5,6,11,12,13,14,15],
    'm_id_lists': [
        [
            'Профессиональная переподготовка',
            'Повышение квалификации'
        ],
        [
            'Количество служащих'
        ],
        [
            'на основании государственных образовательных сертификатов ',
            'в т.ч. за счет средств федерального бюджета',
            'за счет собственных средств',
            'прошедших обучение в дистанционной форме'
        ]
    ],
    'm_id_names': ['id_SubFed', 'DPO', 'value_type', 'value_name'],
    'csv_path': 'DPO_GS.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                                                                                            year  \
id_SubFed           DPO                             value_type          value_name
Ульяновская область Профессиональная переподготовка Количество служащих на основании государственных образовательных се...  2024
                                                                        в т.ч. за счет средств федерального бюджета         2024
                                                                        за счет собственных средств                         2024
                                                                        прошедших обучение в дистанционной форме            2024
                    Повышение квалификации          Количество служащих на основании государственных образовательных се...  2024
                                                                        в т.ч. за счет средств федерального бюджета         2024
                                                                        за счет собственных средств                         2024
                                                                        прошедших обучение в дистанционной форме            2024

                                                                                                                           amount
id_SubFed           DPO                             value_type          value_name
Ульяновская область Профессиональная переподготовка Количество служащих на основании государственных образовательных се...      0
                                                                        в т.ч. за счет средств федерального бюджета             4
                                                                        за счет собственных средств                             0
                                                                        прошедших обучение в дистанционной форме                8
                    Повышение квалификации          Количество служащих на основании государственных образовательных се...     15
                                                                        в т.ч. за счет средств федерального бюджета            62
                                                                        за счет собственных средств                             2
                                                                        прошедших обучение в дистанционной форме              380

In [31]:
#DPO_GS_other_1
settings = {
    'sheet': '17.4. ДПО ГС',
    'iloc_rows': [7, 21],
    'iloc_columns': [4, 8],
    'drop_column': [],
    'm_id_lists': [
        [
            'мероприятия, направленные на получение новых знаний, умений',
            'мероприятия, направленные на обмен опытом'
        ],
        [
            'план',
            'факт'
        ]
    ],
    'm_id_names': ['id_SubFed', 'DPO_type', 'value_type'],
    'csv_path': 'DPO_GS_other.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                                                   year  \
id_SubFed           DPO_type                                           value_type
Ульяновская область мероприятия, направленные на получение новых зн... план        2024
                                                                       факт        2024
                    мероприятия, направленные на обмен опытом          план        2024
                                                                       факт        2024

                                                                                  amount
id_SubFed           DPO_type                                           value_type
Ульяновская область мероприятия, направленные на получение новых зн... план         1200
                                                                       факт         1670
                    мероприятия, направленные на обмен опытом          план           30
                                                                       факт           34

In [32]:
#DPO_GS_other_2
settings = {
    'sheet': '17.4. ДПО ГС',
    'iloc_rows': [7, 21],
    'iloc_columns': [8, 10],
    'drop_column': [],
    'm_id_lists': [
        [
            'служебные стажировки',
            'самообразование'
        ],
        [
            'факт'
        ]
    ],
    'm_id_names': ['id_SubFed', 'DPO_type', 'value_type'],
    'csv_path': 'DPO_GS_other.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                     year amount
id_SubFed           DPO_type             value_type
Ульяновская область служебные стажировки факт        2024      0
                    самообразование      факт        2024      2

In [33]:
#DPO_GS_other_3
settings = {
    'sheet': '17.4. ДПО ГС',
    'iloc_rows': [7, 21],
    'iloc_columns': [10, 12],
    'drop_column': [],
    'm_id_lists': [
        [
            'Объём финансирования, тыс.руб.'
        ],
        [
            'план',
            'факт'
        ]
    ],
    'm_id_names': ['id_SubFed', 'DPO_type', 'value_type'],
    'csv_path': 'DPO_GS_other.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                               year   amount
id_SubFed           DPO_type                       value_type
Ульяновская область Объём финансирования, тыс.руб. план        2024      262
                                                   факт        2024  186.243

In [34]:
#DPO_MS
settings = {
    'sheet' : '18. ДПО МС',
    'iloc_rows' : [5, 19],
    'iloc_columns' : [4, 9],
    'drop_column' : [5, 7],
    'm_id_lists' : [
        [
            'Профессиональная переподготовка',
            'Повышение квалификации',
            'иные образовательные программы'
        ]
        ],
    'm_id_names' : ['id_SubFed', 'DPO_type'],
    'csv_path' : 'DPO_MS.csv'
}
path = '2024_ul.xlsx'
year = 2024

df = pd.read_excel('data_xlsx/' + path, sheet_name=settings['sheet'], header=None)
df = df.iloc[settings['iloc_rows'][0]:settings['iloc_rows'][1], settings['iloc_columns'][0]:settings['iloc_columns'][1]] # Обрезаем лишнее
df = df.drop(settings['drop_column'], axis=1)
df = df.dropna(how='any')
if df.size == 0:
    print('Ошибка ' + settings['sheet'])
    df
df = df.stack().reset_index(drop=True).to_frame() # Складываем таблицу в одну большую строку
m_id = pd.MultiIndex.from_product([ulsk] + settings['m_id_lists'], names=settings['m_id_names'])
df = df.set_axis(m_id, axis=0) # Присваиваем мультииндекс
df.insert(0, 'year', year) # Добавляем колонку "год"
df = df.rename(columns={0: 'amount'})
df

                                                     year amount
id_SubFed           DPO_type
Ульяновская область Профессиональная переподготовка  2024     37
                    Повышение квалификации           2024    493
                    иные образовательные программы   2024   2810